* {
    box-sizing: border-box;  
}
::-webkit-scrollbar {
    display: none !important;
}
body {
    overflow: hidden;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.none {
    display: none;
}
.block {
    display: block !important;
}
.list {
    z-index: 99999999999999999999999999;
    position: absolute;
    top: 50%;
}